PORT=5000
MONGO_URI=mongodb://abedanyakundi1_db_user:<db_password>@ac-v38ndpr-shard-00-00.yfzas4f.mongodb.net:27017,ac-v38ndpr-shard-00-01.yfzas4f.mongodb.net:27017,ac-v38ndpr-shard-00-02.yfzas4f.mongodb.net:27017/?ssl=true&replicaSet=atlas-bywqdi-shard-0&authSource=admin&appName=Cluster0
CLIENT_URL=http://localhost:5173
JWT_SECRET=change-this-secret
